
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding: 20px;
}

@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row{
  margin-bottom: 12px;
  position: relative;
}

.thumbnail{
  border-radius: 9px;
}
.video-time{
  position: absolute;
  bottom: 11px;
  right: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic{
  width: 40px;
  border-radius: 50px;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author, .video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-top: 10px;
}

.video-stats{
  margin-top: 4px;
}

